

<product-media>

<div class="product__media-slider">
    <div class="product__swiper swiper" data-slider>
        <div class="product__media-track swiper-wrapper">
          {% for media in product.media %}
              <div
                  class="product__media-slide swiper-slide"
                  data-media-item
                   data-media-id="{{- media.id -}}"
                   data-index="{{- forloop.index0 -}}"
               >
                <div
                    class="product__image">
                      {% render 'image',
                          image: media.preview_image,
                           sizes: '1200px',
                             width: 1200,
                             widths: '200,300,400,450,500,550,600,650,700,750,800,850,900,950,1000,1050,1100,1150,1200',
                              placeholder: 'detailed-apparel-1'
                              %}
                    </div>

              </div>
          {% endfor %}
        </div>
        <div class="product-gallery_arrow-wrap">
            <div class="swiper-button-next">
                <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="50" height="50" rx="3.57143" fill="white"></rect>
                <rect x="0.446429" y="0.446429" width="49.1071" height="49.1071" rx="3.125" stroke="black" stroke-opacity="0.25" stroke-width="0.892857"></rect>
                <path d="M16.0713 23.6607C15.3316 23.6607 14.732 24.2603 14.732 25C14.732 25.7397 15.3316 26.3393 16.0713 26.3393L16.0713 25L16.0713 23.6607ZM34.8755 25.947C35.3985 25.424 35.3985 24.576 34.8755 24.053L26.3523 15.5298C25.8293 15.0068 24.9813 15.0068 24.4583 15.5298C23.9352 16.0528 23.9352 16.9008 24.4583 17.4239L32.0344 25L24.4583 32.5761C23.9352 33.0992 23.9352 33.9472 24.4583 34.4702C24.9813 34.9932 25.8293 34.9932 26.3523 34.4702L34.8755 25.947ZM16.0713 25L16.0713 26.3393L33.9284 26.3393L33.9284 25L33.9284 23.6607L16.0713 23.6607L16.0713 25Z" fill="black"></path>
                </svg>
            </div>
            <div class="swiper-button-prev">
                <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="50" height="50" rx="3.57143" transform="matrix(-1 0 0 1 50 0)" fill="white"></rect>
                <rect x="-0.446429" y="0.446429" width="49.1071" height="49.1071" rx="3.125" transform="matrix(-1 0 0 1 49.1071 0)" stroke="black" stroke-opacity="0.25" stroke-width="0.892857"></rect>
                <path d="M33.9287 23.6607C34.6684 23.6607 35.268 24.2603 35.268 25C35.268 25.7397 34.6684 26.3393 33.9287 26.3393L33.9287 25L33.9287 23.6607ZM15.1245 25.947C14.6015 25.424 14.6015 24.576 15.1245 24.053L23.6477 15.5298C24.1707 15.0068 25.0187 15.0068 25.5417 15.5298C26.0648 16.0528 26.0648 16.9008 25.5417 17.4239L17.9656 25L25.5417 32.5761C26.0648 33.0992 26.0648 33.9472 25.5417 34.4702C25.0187 34.9932 24.1707 34.9932 23.6477 34.4702L15.1245 25.947ZM33.9287 25L33.9287 26.3393L16.0716 26.3393L16.0716 25L16.0716 23.6607L33.9287 23.6607L33.9287 25Z" fill="black"></path>
                </svg>
            </div>
        </div>
         <div class="product_gallery-scroll swiper-scrollbar"></div>

    </div>
    {% render 'product-gallery-thumbs', product: product %}
</div>

</product-media>


 