.product__image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product_gallery-scroll {
    position: absolute;
    left: 0 !important;
    bottom: 0 !important;
    z-index: 999;
    width: 100% !important;
    background: #d9d9d9 !important;
}

.swiper-pagination-horizontal {
    height: 4px !important;
}

.swiper-scrollbar-drag {
    background: #161616 !important;
    display: block !important;
}

.product-gallery_arrow-wrap {
    position: absolute;
    bottom: 30px;
    display: flex;
    right: 10px;
    gap: 15px;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}

.product__image {
    line-height: 0;
}

.product__media-slider .swiper-button-next,
.product__media-slider .swiper-button-prev {
    color: #fff;
    position: static !important;
}
.product__media-slider .swiper-button-prev{
    margin-left: 20p;
}
.thumble_image {
    border: 1px solid rgb(0, 0, 0, 0.5);
    line-height: 0;
    transition: 0.5s;
}

.product_thumble-wrap {
    margin-top: 15px;
}

.thumble_image img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    opacity: 0.6;
    transition: 0.5s;
}

.thumble_image.swiper-slide-thumb-active img {
    opacity: 1;
    transition: 0.5s;
}


/* product css start here  */
.guarantee_image {
    line-height: 0;
    width: 37px;
}

.guarantee_image img,
.guarantee_image svg {
    width: 100%;
}

.guarantee_wrap {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    background: #f8f8f6;
    border-radius: 2px;
    margin-top: 34px;
}

.guarantee_wrap p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .16px;
    margin: 0;
    margin-top: 10px;
}

.guarantee_wrap h4 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: .18px;
    margin: 0;
}

.product-form__buttons .button {
    background-color: #161616;
    color: #fff;
    text-transform: uppercase;
}

.list_text-wrap li {
    list-style: none;
    position: relative;
}

.list_text-wrap ul {
    padding: 0;
}

.list_text-wrap li {
    list-style: none;
    position: relative;
    display: flex;
    gap: 10px;
    padding-left: 30px;
    align-items: center;
    margin-bottom: 10px;
}

.list_text-wrap li::after {
    position: absolute;
    top: 5px;
    left: 0;
    content: url(guarantee.svg);
    width: 13px;
    height: 13px;
    line-height: 0;

}

.product_faq-wrap {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;

}
.product_faq-mobile{
    display: none;
}

@media(max-width:768px) {
    .product_faq-desktop {
        display: none;
    }
    .product__info-container{
        margin-top: 30px;
    }
    .product_faq-mobile{
        display: b;
    }
}

/* product css end here  */